<div class="container">
  <div class="header">
    </div>

<nav>
    
<ul>
 
    <li><a href="home" class="current" data-hover="Home">Home</a></li>
    <li><a href="room-rates" data-hover="Rooms & Rates">Rooms & Rates</a></li>
    <li><a href="about" data-hover="viewReservation">Reservation</a></li>
    <li><a href="contact" data-hover="Contact">Contact</a></li>
</ul>
</nav>
<form action="">
    <h1 valign="center" align="center" >Contact Form</h1>
  <input type="text" placeholder="Name" name="name" required>

  <input type="email" placeholder="Email" name="email" required>

  <textarea placeholder="Message" name="message" required></textarea>
<input type="submit"routerLink="/home"  value="Send">

</form>
</div>
